/* $base-background: #00CC99; */
body {
  background: #D18B49;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 0.5s ease;
  text-align: center;
}


.card {
  background: #FFFFFF;
  max-width: 350px;
  margin: 50px auto;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 48px;
  text-align: center;
}

.products {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease;
  text-align: center;
  margin-right: auto;
}




.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -12px -12px;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: scale(0);
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}




@font-face {
  font-family: 'Speda-Bold';
  src: url('Speda-Bold.woff' ) format('woff2');
}

/*CSS for a really simple responsive grid*/
body{ font-family: 'Speda-Bold'; color:#555555;}
h1{font-size:24px; font-weight:normal; margin:0.4em 0;}

.container { width: 100%; margin: 0 auto; }
.container .col { float: left; margin: 0 0 1.2em; padding-right: 0; padding-left: 0; }
.container .col.one, .container .col.two, .container .col.three, .container .col.four, .container .col.five, .container .col.six, .container .col.seven, .container .col.eight, .container .col.nine, .container .col.ten, .container .col.eleven, .container .col.twelve { width: 100%; }




/*All the button styles*/

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box;  box-sizing: border-box;}
a{text-decoration:none;}

/********************
GENERIC BUTTON STYLES
********************/
.btn {font-size: 17px;  white-space:nowrap; width:300px; padding:.8em 2em;   font-family: 'Speda-Bold'; line-height:18px; display: inline-block;zoom: 1; color: #fff; text-align: center; position:relative; -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear; transition: border .25s linear, color .25s linear, background-color .25s linear;}



/*FACEBOOK*/
.btn.btn-facebook{background-color: #2479b6; text-align: center; border-color: #2479b6; -webkit-box-shadow: 0 3px 0 #1c6394; box-shadow: 0 3px 0 #fff;}
.btn.btn-facebook:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
/*instagram*/
.btn.btn-instagram{background-color: #C13584; border-color: #2a91db; -webkit-box-shadow: 0 3px 0 #1d6ea7; box-shadow: 0 3px 0 #fff;}
.btn.btn-instagram:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
/*GOOGLE PLUS*/
.btn.btn-google-plus{background-color: #be3b26; border-color: #be3b26; -webkit-box-shadow: 0 3px 0 #842719; box-shadow: 0 3px 0 #fff;}
.btn.btn-google-plus:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
/*YOU TUBE*/
.btn.btn-you-tube{background-color: #cf3728; border-color: #cf3728; -webkit-box-shadow: 0 3px 0 #9a1e1a; box-shadow: 0 3px 0 #fff;}
.btn.btn-you-tube:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}
/*LinkedIn*/
.btn.btn-tiktok{background-color: #010101; border-color: #010101; -webkit-box-shadow: 0 3px 0 #010101; box-shadow: 0 3px 0 #fff;}
.btn.btn-tiktok:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*instagramstory*/
.btn.btn-instagramstory{background-color: #833AB4; border-color: #2a91db; -webkit-box-shadow: 0 3px 0 #1d6ea7; box-shadow: 0 3px 0 #fff;}
.btn.btn-instagramstory:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}

/*instagram*/
.btn.btn-instagramp{background-color: #455A64; border-color: #2a91db; -webkit-box-shadow: 0 3px 0 #1d6ea7; box-shadow: 0 3px 0 #fff;}
.btn.btn-instagramp:active{top: 3px; outline: none; -webkit-box-shadow: none; box-shadow: none;}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
   font-family: 'Speda-Bold';
}

.button2 {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;

}

.button2:hover {
  background-color: #008CBA;
  color: white;

}

footer{
	color: white;
	font-size: 10px;
}

.fa {
  padding: 5px;
  font-size: 4px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 3px 3px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}


.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
