@media (min-width: 576px) {   .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
} } 
 @media (min-width: 768px) {   
.bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
} } 
@media (min-width: 992px) {   .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
}  } 
 @media (min-width: 1200px){  .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
}   }
@media (max-width: 575.98px) { .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
}    }
 @media (max-width: 767.98px) { .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
}    } 
 @media (max-width: 991.98px) { .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
}   } 
 @media (max-width: 1199.98px) {  .bod{
background:black;
margin: 0px;
padding: 0px;

}


.idn{
border:solid 0px;  

  
}

.hamaresha{
height: 250px;  
border-radius: 500px;  
animation-name: s4soki;
animation-duration: 3s;
animation-iteration-count: infinite;
}
@keyframes s4soki{
10%{box-shadow: 0px 0px 100px 0px red;}  
20%{transform: scale(1.10);}  
}


.qitar{
position: absolute;  
animation-name: qit;
animation-duration: 10s;
animation-iteration-count: infinite;
  
  
}

@keyframes qit{
10%{padding-left: 390px;border-color: red;}  
  
  
}


.ham{
color:orange;  
position: relative;
top:60px;
font-size: 20px;  
animation-name:coll;
animation-duration:3s;
animation-iteration-count: infinite;

  
}

@keyframes coll{
10%{color:yellow;}  
  
  
  
}

.snap{
font-size: 30px;  
color:yellow;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 50px;
padding-right: 50px;
padding-bottom:10px;
border-radius: 10px;
text-decoration: none;
  
}

.discord{
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;
  
  
}

.tellgram{
  
text-decoration: none;
font-size: 30px;
color:skyblue;
background: rgba(20, 11, 65, 1.0);
padding-top: 10px;
padding-left: 20px;
padding-right: 20px;
padding-bottom:10px;
border-radius: 10px;  
  
}
.shell{
color:white;;  
font-family: sans-serif;
font-style: italic;
color:orange;
  
}

.ha{

  
  
}  